*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
    color: teal;
    font-family: sans-serif;
}

img{
    width: 100%;
    height: 100%;
}

.img__container{
    height:9rem;
    width:7rem;
    padding: 1rem 0;
}

.title{
    margin-top: 1rem;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;

}

.container{
 background-color: bisque;
 display:flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 1rem;
 margin: 1rem;
}

.box{
    padding: 1rem;
    margin: 1rem;
    background-color: azure;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:15rem;
}

.dog,
.cat{
    margin: 1rem 0;
    top:0;
    bottom: 0;   
}

.select__cat,
.select__dog{
    cursor: pointer;
    transition-duration: 0.2s;
    padding: 0.5rem 1rem;
    margin: 1rem;
    height: 2rem;
    width: 6rem;
    font-size:0.9rem;
    text-align: center;
    color: teal;
    border: 0.1rem solid teal;
    border-radius: 8px;
}

.select__cat:hover,
.select__dog:hover{
    color: white;
    background-color: teal;
}

.select__cat:active,
.select__dog:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


@media screen and (min-width : 700px){

    .container{
        margin:1rem  5rem;
        flex-direction: row;
    }
    .img__container{
        height: 20rem;
        width:20rem;
    }
    
    .box{
        width : 30rem;
        margin: 2rem;
    }
    .title{
        font-size: 2rem;
    }
    
}